body{
	margin: 0;
	padding: 0;
	border: 0;
	//background:linear-gradient(90deg,#6cf7f2,#00d0f4);
    background: linear-gradient(180deg, #470202, #ba0303);
	//position: fixed;
}
marquee{
	direction="down";
	scrollamount=6;
}

#main-body{
	background-color: white;	
    //position: relative;
    height: 200%;
    width: 75%;
	float: left;
	padding: 0;
	box-shadow: 3px 3px 5px black, -3px 3px 5px black;
}

#left-banner{
	float: left; margin: 0; padding: 0; text-align: center;
	width: 12.5%;
	margin-top: 3em;
	font-size: 3em;
	color: white;
	font-family: 'Bangers', cursive;
	//position: sticky;
}
#right-banner{
    float: right;
	margin: 0; padding: 0; text-align: center;
	width: 12.5%;
	margin-top: 3em;
	font-size: 1.8em;
	color: white;
	font-family: 'Bangers', cursive;
    //position:sticky;
}
#cover-page{
height: 25%;
width: 100%;
padding: 0;
margin: 0;
//background:url('../images/teams/rcb.jpg'); 	
//background-size: 100%, 100%;
//backgorund-repeat: no-repeat;
//box-shadow: 0 3px 3px black;
//display: block;
}

#cover-image{
	width: 100%;
	height: 100%;
    
}

.news{
	height: 100%;
	width: 50%;
	margin-top: 50px;
	//box-shadow: 3px 3px 5px black, -3px 3px 5px black;
    float: left;
	border: 1px solid black;
    background: linear-gradient(180deg, #470202, #ba0303);
	color: white;
}
.live-score{
	float: right;
	width: 40%;
	height: 100%;
    //box-shadow: 3px 3px 5px black, -3px 3px 5px black;
    margin-top: 50px;  
    float: right;
	border: 1px solid black;
	
}

.first-row{
	width: 80%;
	height: 250px;
    margin: auto;
}

.second-row{
	width: 80%;
	height: 400px;
	margin: auto;
}

.wrap{
	width: 60%;
	height: 100%;
	float: left;
}
table, th,td  {
    table-layout:fixed;
	width: 100%;    
    background-color: #f1f1c1;
}th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: center;
}
@media only screen and(max-width: 500px){
	.news{
	height: 100%;
	width: 100%;
	margin-top: 20px;
	//box-shadow: 3px 3px 5px black, -3px 3px 5px black;
    float: none;
    }

.live-score{
	float: right;
	width: 100%;
	height: 100%;
    //box-shadow: 3px 3px 5px black, -3px 3px 5px black;
    margin-top: 20px;
    float: none;	
}

}